<div class="bg-cover bg-center h-screen" style="background-image: url('https://scontent.fcue1-1.fna.fbcdn.net/v/t39.30808-6/369793299_767507212051408_5651437711443806681_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=dd5e9f&_nc_ohc=vBrqV1ohmTwAX-O7UA4&_nc_ht=scontent.fcue1-1.fna&oh=00_AfCz5GRMHMfx0C0hdg0L06WwBxWCKSsQu-pSqSNYmgDFmA&oe=65B3E3F7');">
    <main class="container mx-auto my-8">
      
   
  
      <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        <!-- Sección 1 -->
        <div class="bg-white p-4 rounded shadow-md hover:bg-gray-400 cursor-pointer text-center">
          <h3 class="text-xl font-bold mb-2">PLATAFORMA</h3>
          <p>Descubre nuestra plataforma educativa que ofrecemos para tu desarrollo académico.</p>
        </div>
        <!-- Sección 2 -->
        <div class="bg-white p-4 rounded shadow-md hover:bg-gray-400 cursor-pointer text-center">
            <h3 class="text-xl font-bold mb-2">BIBLIOTECA VIRTUAL</h3>
            <p>Visita nuestra biblioteca virtuale.</p>
          </div>
        <!-- Sección 3 -->
        <div class="bg-white p-4 rounded shadow-md hover:bg-gray-400 cursor-pointer text-center">
          <h3 class="text-xl font-bold mb-2">COMUNICADOS</h3>
          <p>Entérate de los eventos y actividades que están sucediendo en nuestra institución.</p>
        </div>
        
        <!-- Sección 4 -->
        <div class="bg-white p-4 rounded shadow-md hover:bg-gray-400 cursor-pointer text-center">
          <h3 class="text-xl font-bold mb-2">COMUNIDAD EDUCATIVA</h3>
          <p>Conéctate con nuestra comunidad y participa en diversas actividades.</p>
        </div>
        
        <!-- Sección 5 -->
        <div class="bg-white p-4 rounded shadow-md hover:bg-gray-400 cursor-pointer text-center">
          <h3 class="text-xl font-bold mb-2">MATRICULAS</h3>
          <p>Conéctate con nuestra institucion y sé parte del proceso de matriculación.</p>
        </div>

        <!-- Sección 6 -->
        <div class="bg-white p-4 rounded shadow-md hover:bg-gray-400 cursor-pointer text-center">
            <h3 class="text-xl font-bold mb-2">CALENDARIO ACADEMICO</h3>
            <p>Guía para el desarrollo de las actividades del personal docente y de los estudiantes durante cada periodo académico.</p>
          </div>

    
      </section>
      
    </main>
  </div>
  