<body class="bg-gray-100">
  
<div class="container mx-auto p-8">
  <!-- Contenedor -->
  <div class="flex flex-wrap justify-between">
    <!-- Tarjetas superiores -->
    <div class="max-w-sm bg-white rounded overflow-hidden shadow-lg mx-2 mb-4 ">
      <img class="w-full h-32 object-cover" src="\assets\Breadboard-for-DIY-Electronics-and-Robotics-1024x694.webp" alt="Imagen Tarjeta 1">
      <div class="px-6 py-4">
        <p class="text-gray-700 text-base hover:bg-gray-200 cursor-pointer">ELECTRONICA</p>
      </div>
    </div>

    <div class="max-w-sm bg-white rounded overflow-hidden shadow-lg mx-2 mb-4">
      <img class="w-full h-32 object-cover" src="\assets\que-aprendes-cuando-estudias-ingenieria-mecatronica-3-Dec-17-2022-06-27-31-0784-PM.webp" alt="Imagen Tarjeta 2">
      <div class="px-6 py-4">
        <p class="text-gray-700 text-base hover:bg-gray-200 cursor-pointer">MECATRONICA</p>
      </div>
    </div>

    <div class="max-w-sm bg-white rounded overflow-hidden shadow-lg mx-2 mb-4">
      <img class="w-full h-32 object-cover" src="\assets\Electricidad-estática.webp" alt="Imagen Tarjeta 3">
      <div class="px-6 py-4">
        <p class="text-gray-700 text-base hover:bg-gray-200 cursor-pointer">ELECTRICIDAD</p>
      </div>
    </div>

    <!-- Tarjetas inferiores -->
    <div class="max-w-sm bg-white rounded overflow-hidden shadow-lg mx-2 mb-4">
      <img class="w-full h-32 object-cover" src="/assets/ways-to-make-your-home-safer-carl-jarl-locksmiths-security-systems-830x484.jpg" alt="Imagen Tarjeta 4">
      <div class="px-6 py-4">
        <p class="text-gray-700 text-base hover:bg-gray-200 cursor-pointer">SISTEMAS</p>
      </div>
    </div>

    <div class="max-w-sm bg-white rounded overflow-hidden shadow-lg mx-2 mb-4">
      <img class="w-full h-32 object-cover" src="\assets\Servicios-Mec1.jpg" alt="Imagen Tarjeta 5">
      <div class="px-6 py-4">
        <p class="text-gray-700 text-base hover:bg-gray-200 cursor-pointer">MECANICA INDUSTRIAL</p>
      </div>
    </div>

    <div class="max-w-sm bg-white rounded overflow-hidden shadow-lg mx-2 mb-4">
      <img class="w-full h-32 object-cover" src="\assets\trabajador-servicio-coche-musculoso-reparando-vehiculo_146671-19605-1611903989.webp" alt="Imagen Tarjeta 6">
      <div class="px-6 py-4">
        <p class="text-gray-700 text-base hover:bg-gray-200 cursor-pointer">MECANICA AUTOMOTRIZ</p>
      </div>
    </div>
  </div>
</div>

</body>
 <footer class="bg-gray-800 text-white py-8">
    <div class="container mx-auto flex justify-between">
      <div>
        <p class="text-xl font-bold">COLEGIO "DANIEL CORDOVA TORAL"</p>
        <p>Dirección: Av. Diez de Agosto 129, Cuenca</p>
        <p>Teléfono:(07) 409-6552</p>
        <p>Email: edudanielcordova.edu.ec</p>
      </div>
      <div>
        <p class="text-xl font-bold">Síguenos en Redes Sociales</p>
        <div class="flex space-x-7 justify-center">
            <a href="https://www.facebook.com/tu-pagina" target="_blank" rel="noopener noreferrer" class="hover:text-gray-300">
                <img src="\assets\Facebook_f_logo_(2019).svg.png" alt="Facebook" class="w-10 h-10">
              </a>
              
              <a href="https://twitter.com/tu_usuario" target="_blank" rel="noopener noreferrer" class="hover:text-gray-300">
                <img src="\assets\twitter_logo_icon_186891.png" alt="Twitter" class="w-10 h-10">
              </a>
              
              <a href="https://www.instagram.com/tu_usuario" target="_blank" rel="noopener noreferrer" class="hover:text-gray-300">
                <img src="\assets\new-Instagram-logo-png-full-colour-glyph-1024x1024.png" alt="Instagram" class="w-10 h-10">
              </a>
              
        </div>
      </div>
    </div>
  </footer>
  