<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <title>Tu Página</title>
</head>
<body class="bg-blue-900">
  <div class="max-w-screen-xl mx-auto py-6">
    <!-- Tarjeta con fondo azul marino -->
    <div class="bg-navy-blue text-white rounded-lg overflow-hidden">
      <!-- Nombre del colegio centrado -->
      <div class="text-center py-6">
        <h1 class="text-3xl font-bold">Colegio De Bachillerato Técnico Daniel Córdova Toral</h1>
      </div>

      <!-- Logo centrado -->
      <div class="flex justify-center">
        <img src="\assets\descarga.png" alt="Logo" class="h-20 object-contain">
      </div>

      <!-- Rectángulos para las carreras en la parte inferior -->
      <div class="flex justify-between p-4">
        <div class="bg-white p-2 rounded flex-1 mr-2 text-black hover:bg-gray-200 cursor-pointer text-center">
          INICIO
        </div>
        <div class="bg-white p-2 rounded flex-1 mr-2 text-black hover:bg-gray-200 cursor-pointer text-center">
          INSTITUCION
        </div>
        <div class="bg-white p-2 rounded flex-1 mr-2 text-black hover:bg-gray-200 cursor-pointer text-center">
          BACHILLERATO
        </div>
        <div class="bg-white p-2 rounded flex-1 mr-2 text-black hover:bg-gray-200 cursor-pointer text-center">
          DEPARTAMENTOS
        </div>
        <div class="bg-white p-2 rounded flex-1 text-black hover:bg-gray-200 cursor-pointer text-center">
          CONTACTOS
        </div> 
      </div>
    </div>
  </div>
  

</body>